<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @temperature.date %>
</p>

<p>
  <strong>Min:</strong>
  <%= @temperature.min %>
</p>

<p>
  <strong>Max:</strong>
  <%= @temperature.max %>
</p>

<p>
  <strong>Avg:</strong>
  <%= @temperature.avg %>
</p>

<p>
  <strong>Station:</strong>
  <%= @temperature.station_id %>
</p>

<%= link_to 'Edit', edit_temperature_path(@temperature) %> |
<%= link_to 'Back', temperatures_path %>
