<%= form_for(@observation_session) do |f| %>
  <% if @observation_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@observation_session.errors.count, "error") %> prohibited this observation_session from being saved:</h2>

      <ul>
      <% @observation_session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_jd %><br>
    <%= f.text_field :start_jd %>
  </div>
  <div class="field">
    <%= f.label :end_jd %><br>
    <%= f.text_field :end_jd %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
