<%= form_for(@precipitation) do |f| %>
  <% if @precipitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@precipitation.errors.count, "error") %> prohibited this precipitation from being saved:</h2>

      <ul>
      <% @precipitation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :timestamp %><br>
    <%= f.date_select :timestamp %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :station_id %><br>
    <%= f.number_field :station_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
