<header class="page-header">
  <div class="pull-right">
    Legende:
    <%= image_tag 'day.png' %> Tag
    <%= image_tag 'night.png' %> Nacht
    <%= image_tag 'activity.png' %> Aktivität
    <%= image_tag 'rain.png' %> Niederschlag
  </div>

  <h1>Witterung vs. Fotodaten</h1>
</header>

<div class="pull-right">
  <%= link_to 'CSV', params.slice(:from_time, :to_time, :at_night, :species_ids).merge(:format => :csv), :class => 'btn btn-link' %>
</div>

<%= form_tag images_precipitations_path, :method => 'get', :class => 'form-inline' do %>
  <div class="form-group" data-toggle="buttons">
    <label class="btn btn-default <%= 'active' if params[:at_night] == 'true' %>">
      <%= check_box_tag :at_night, 'true', params[:at_night].to_s %>
      <%= image_tag 'night.png', :style => 'margin-top: -6px; margin-bottom: -6px; position:relative; top: -2px' %>
      Nur Nachts
    </label>
  </div>

  <div class="form-group">
    <%= text_field_tag :from_time, params[:from_time], :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= text_field_tag :to_time, params[:to_time], :class => 'form-control' %>
  </div>

  <div class="btn-group" data-toggle="buttons">
    <% @species.each do |species| %>
      <label class="btn btn-default <%= 'active' if @selected_species.include? species %>">
        <input type="checkbox" name="species_ids[]" value="<%= species.id %>" <%= 'checked' if @selected_species.include? species %>>
        <%= species %>
      </label>
    <% end %>
  </div>

  <div class="btn-group">
    <button type="submit" class="btn btn-primary">Gönn' mir!</button>
    <%= link_to 'Gib mir alles!', images_precipitations_path(:species_ids => @species.map(&:id)), :class => 'btn btn-default' %>
  </div>
<% end %>

<hr>

<div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="<%= images_precipitations_path %>" role="tab" >Fotodaten</a>
    </li>
    <li role="presentation">
      <a href="<%= events_precipitations_path %>" role="tab">Lichtschrankendaten</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" style="border: 1px solid #ddd; border-top: none; padding-bottom: 10px;">
    <div role="tabpanel" class="tab-pane active" id="in-out" style="height: 250px">
      <canvas id="in-out-diagram" width="1120" height="250"></canvas>
    </div>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Zeitpunkt</th>
      <th>Niederschlagsmenge</th>
      <th>Temperatur</th>

      <% @selected_species.each do |species| %>
        <th class="species use-in-graph" data-diagram-colour="<%= species.diagram_colour %>" style="color: rgb(<%= species.diagram_colour %>);">
          <%= species.name %>
        </th>
      <% end %>

      <th>Aktivität</th>
      <th>Nacht?</th>
      <th><th>
    </tr>
  </thead>

  <tbody>
    <% @precipitations.each do |precipitation| %>
      <tr class="dataset <%= 'warning' if precipitation.amount > 0 %>">
        <td class="timestamp">
          <time date="<%= precipitation.timestamp.to_date %>" datetime="<%= precipitation.timestamp %>">
            <%= precipitation.timestamp.to_s(:hourly) %>
          </time>
        </td>

        <td>
          <span class="precipitation-amount"><%= precipitation.amount %></span>
          <%= image_tag('rain.png') if precipitation.amount > 0 %>
        </td>

        <td>
          <span class="minimal-temperature"><%= precipitation.temperature.try(:value) || 0 %></span>°C
        </td>

        <% @selected_species.each do |species| %>
          <% count = precipitation.images.to_a.select{|s| s.species == species}.size %>
          <td class="species use-in-graph">
            <%= count %>
            <% if count > 0  %>
              <%= image_tag '%s.png' % (species.to_s.downcase == 'ufo' ? 'ufo' : 'activity') %>
            <% end %>
          </td>
        <% end %>

        <% count = precipitation.images.size %>
        <td>
          <span class="total-activity"><%= count %></span>
          <%= image_tag 'activity.png' if count > 0 %>
        </td>

        <td><%= image_tag(precipitation.at_night? ? 'night.png' : 'day.png') %></td>

        <td><%= link_to t('nav.btn.edit'), edit_precipitation_path(precipitation) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
