<header class="page-header">
  <div class="pull-right">
    Legende:
    <%= image_tag 'day.png' %> Tag
    <%= image_tag 'night.png' %> Nacht
    <%= image_tag 'activity.png' %> Aktivität
    <%= image_tag 'rain.png' %> Niederschlag
  </div>

  <h1>Niederschläge und Aktivität</h1>
</header>

<div class="pull-right">
  <%= link_to 'CSV', params.slice(:from_time, :to_time, :at_night).merge(:format => :csv), :class => 'btn btn-link' %>
  <%= link_to 'New Precipitation', new_precipitation_path, :class => 'btn btn-link' %>
</div>

<div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#filters" aria-controls="filters" role="tab" data-toggle="tab">Filter</a>
    </li>
    <li role="presentation">
      <a href="#in-out" aria-controls="in-out" role="tab" data-toggle="tab">Aktivität/Niederschlag</a>
    </li>
<!--     <li role="presentation"> -->
<!--       <a href="#species-activity" aria-controls="species-activity" role="tab" data-toggle="tab">Aktivität/Spezies</a> -->
<!--     </li> -->
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="filters">
      <%= form_tag '#', :method => 'get', :class => 'form-inline' do %>
        <%= text_field_tag :from_time, params[:from_time], :class => 'form-control' %>
        <%= text_field_tag :to_time, params[:to_time], :class => 'form-control' %>
        <%= check_box_tag :at_night, true, params[:at_night] %>

        <button type="submit" class="btn btn-primary">Gönn' mir!</button>
        <%= link_to 'Gib mir alles!', precipitations_path, :class => 'btn btn-default' %>
      <% end %>
    </div>

    <div role="tabpanel" class="tab-pane" id="in-out" style="height: 250px">
      <canvas id="in-out-diagram" width="1120" height="250"></canvas>
    </div>
<!--     <div role="tabpanel" class="tab-pane" id="species-activity"> -->
<!--       <canvas id="species-activity-diagram" width="900" height="250"></canvas> -->
<!--     </div> -->
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th rowspan="2">Zeitpunkt</th>
      <th rowspan="2">Niederschlagsmenge</th>

      <% if params[:slow].present? %>
        <% @sensors.each do |sensor| %>
          <th colspan="<%= @event_types.size %>"><%= sensor.name %></th>
        <% end %>
      <% end %>

      <% @species.each do |species| %>
        <th rowspan="2" class="species" data-diagram-colour="<%= species.diagram_colour %>" style="color: rgb(<%= species.diagram_colour %>);">
          <%= species.name %>
        </th>
      <% end %>

      <th rowspan="2">Aktivität</th>
      <th rowspan="2">Nacht?</th>
      <th rowspan="2"><th>
    </tr>
    <tr>
      <% if params[:slow].present? %>
        <% @sensors.each do |sensor| %>
          <% @event_types.each do |event_type| %>
            <th><%= event_type.name %></th>
          <% end %>
        <% end %>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @precipitations.each do |precipitation| %>
      <tr data-date="<%= precipitation.timestamp.to_date %>" class="dataset <%= 'warning' if precipitation.amount > 0 %>">
        <td><%= precipitation.timestamp %></td>
        <td>
          <span class="precipitation-amount"><%= precipitation.amount %></span>
          <%= image_tag('rain.png') if precipitation.amount > 0 %>
        </td>

        <% if params[:slow].present? %>
          <% @sensors.each do |sensor| %>
            <% @event_types.each do |event_type| %>
              <% count = precipitation.events.to_a.select{|s| s.sensor == sensor and s.event_type == event_type}.size %>
              <td>
                <%= count %>
                <%= image_tag 'activity.png' if count > 0 %>
              </td>
            <% end %>
          <% end %>
        <% end %>
        <% @species.each do |species| %>
          <% count = precipitation.events.to_a.select{|s| s.species == species}.size %>
          <td class="species">
            <%= count %>
            <%= image_tag 'activity.png' if count > 0 %>
          </td>
        <% end %>

        <% count = precipitation.events.size %>
        <td>
          <span class="total-activity"><%= count %></span>
          <%= image_tag 'activity.png' if count > 0 %>
        </td>

        <td><%= image_tag(precipitation.at_night? ? 'night.png' : 'day.png') %></td>

        <td><%= link_to t('nav.btn.edit'), edit_precipitation_path(precipitation) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
