<%= form_for(@image) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :filename, :class => 'control-label' %>
    <%= f.text_field :filename, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :timestamp, :class => 'control-label' %>
    <%= f.datetime_select :timestamp, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :annotations, :class => 'control-label' %>
    <%= f.text_field :annotations, :class => 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
