<header class="page-header">
  <h1>Fotos <small>Total: <%= @images.size %></small></h1>
</header>

<div class="pull-right">
  <%= link_to t('nav.btn.index'), images_path, :class => 'btn btn-link', :rel => 'index' %>
</div>

<%= form_tag '#', :method => 'get', :class => 'form-inline' do %>
  <%= hidden_field_tag :date, params[:date] %>
  <div class="btn-group" data-toggle="buttons">
    <% @species.each do |species| %>
      <label class="btn btn-default <%= 'active' if @selected_species.include? species %>" style="color: rgb(<%= species.diagram_colour %>)">
        <input type="checkbox" name="species_ids[]" value="<%= species.id %>" <%= 'checked' if @selected_species.include? species %>>
        <%= species %>
      </label>
    <% end %>
  </div>

  <div class="btn-group" data-toggle="buttons">
    <% @sexes.each do |sex| %>
      <label class="btn btn-default <%= 'active' if @selected_sexes.include? sex %>">
        <input type="checkbox" name="sex_ids[]" value="<%= sex.id %>" <%= 'checked' if @selected_sexes.include? sex %>>
        <%= sex %>
      </label>
    <% end %>
  </div>

<!--   <%= collection_select :filter, 'precipitation_amounts', Precipitation.amounts, :to_s, :to_s, {:include_blank => 'Niederschlagsmenge', :class => 'form-control'}, :multiple => true %> -->

  <div class="btn-group">
    <button type="submit" class="btn btn-primary">
      <%= t('nav.btn.filter') %>
    </button>

    <%= link_to t('nav.btn.reset filter'), calendar_images_path, :class => 'btn btn-default' %>
  </div>
<% end %>

<hr>

<%= render 'layouts/calendar', :events => @images.to_a.group_by(&:date) %>
