<header class="page-header">
  <div class="pull-right">
    <%= link_to 'Kalenderansicht', calendar_images_path, :class => 'btn btn-link' %>
    <%= link_to 'Neue Aufnahme', new_image_path, :class => 'btn btn-link' %>
    <%= link_to 'Gib mir alles!', images_path(:from_time => Event.first.timestamp, :to_time => Event.last.timestamp), :class => 'btn btn-default' %>
  </div>

  <h1>Bilder <small>Total: <%= @images.size %></small></h1>
</header>

<!--<% if @images.any? and @images.all? &:event %>
  <p class="alert alert-success">Alle Bilder sind einem Ereignis zugeordnet! Jauchzet und frohlocket!</p>
<% elsif @best_solution %>
  <p class="alert alert-info">BEST SOLUTION: <%= @best_solution.last.inspect %>  diff=<%= @diff %>, dev=<%= @dev %> <%= '<strong>PERFECT FIT!</strong>'.html_safe if @dev == 0 %><br>
  <strong>Keine dauerhafte Ereigniszuordnung, da <%= @images.select{|i| i.possible_events.empty?}.count %> Bildern keine Beobachtung zugeordnet werden konnten.</strong>
  </p>
<% elsif @images.any? %>
  <div class="row">
    <div class="col-sm-10">
      <p class="alert alert-warning">
        Zu diesem Datum fehlt die Zuordnung Bild zu Lichtschrankenereignis.
      </p>
    </div>
    <div class="col-sm-2">
      <%= link_to 'Zuordnung durchführen', match_events_images_path(params.slice(:from_time, :to_time)), :class => 'btn btn-warning btn-block' %>
    </div>
  </div>
<% end %>-->

<%= form_tag '#', :method => 'get', :class => 'form-inline' do %>
  <div class="btn-group" data-toggle="buttons">
    <% @species.each do |species| %>
      <label class="btn btn-default <%= 'active' if @selected_species.include? species %>">
        <input type="checkbox" name="species_ids[]" value="<%= species.id %>" <%= 'checked' if @selected_species.include? species %>>
        <%= species %>
      </label>
    <% end %>
  </div>

  <div class="btn-group" data-toggle="buttons">
    <% @sexes.each do |sex| %>
      <label class="btn btn-default <%= 'active' if @selected_sexes.include? sex %>">
        <input type="checkbox" name="sex_ids[]" value="<%= sex.id %>" <%= 'checked' if @selected_sexes.include? sex %>>
        <%= sex %>
      </label>
    <% end %>
  </div>

  <%= text_field_tag :from_time, session[:from_time], :class => 'form-control' %>
  <%= text_field_tag :to_time, session[:to_time], :class => 'form-control' %>
  <button type="submit" class="btn btn-primary">Gönn' mir!</button>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Bilddatei</th>
      <th>Zeitpunkt</th>
<!--       <th>Event</th> -->
      <th>Spezies</th>
      <th>Geschlecht</th>
      <th>Niederschlag</th>
      <th>Temperatur</th>
      <th>Notizen</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td>
          <%= link_to image_tag(image.thumbnail_path), image_path(image.path) if image.thumbnail_path %><br>
          <%= image.filename %>
        </td>
        <td><%= image.timestamp %></td>
<!--         <td><%#= image.event.try(:timestamp) || image.possible_events && image.possible_events.map(&:timestamp) %></td> -->
        <td><%= image.species %></td>
        <td><%= image.sex %></td>
        <td><%= image.precipitation %></td>
        <td><%= image.temperature %></td>
        <td><%= image.annotations %></td>
        <td><%= link_to t('nav.btn.edit'), edit_image_path(image) %></td>
        <td><%= link_to t('nav.btn.destroy'), image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
