<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @image.filename %>
</p>

<p>
  <strong>Date:</strong>
  <%= @image.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @image.time %>
</p>

<p>
  <strong>Annotations:</strong>
  <%= @image.annotations %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
